*{
	margin: 0;
	padding: 0;
}
.white_logo{
	width: 252px;
}
.white_logo_mobile{
	width: 100px;
}
.main-menu-li:hover>.dropdown-menu {
	display: block;
}

.main-menu-li>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
.__custom_drop_main{
	max-width: 200px;
    top: calc(100% - 2px);
    left: -25px;
}
.__custom_drop_main li{
	width: 100%;
	display: block;
}